@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_Lt.ttf);
    font-weight: 100;
}
@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_Rg.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_Bd.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_He.ttf);
    font-weight: 700;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --cor-1: #FF594E;
    --cor-2: #484B57;
    --cor-3: #3B4157;
    --cor-4: white;
    --cor-5: #F5F5F5;

    font-size: 62.5%;
}

body *{
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto Slab', serif;*/
}
body {
    font-size: 1.6rem;
    max-width: 120rem;
    margin: auto;
 
}


nav {  

    height: 4rem;
    display: flex;
    align-items: center;
 
}
.title-sec-1 {
    font-size: 4rem;
    color: var(--cor-2);
    margin-bottom: 1rem;
}


.paragrafo-sec-1 {
    background: #1fab36;
    color: white;
    font-family: "Roboto Slab";
    font-weight: 200;
    padding: 0 0.5rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.logo-doutor {
    display: block;
    margin: auto;
    height: 2rem;
    width: 100%;
}

.section-1 {
    padding: 4rem 0;
    background: url("./asset/background-desktop.png") no-repeat;
    background-size: cover;
    background-position: center center;

}
.container-1 {
    max-width: 60rem;
    display: grid;
    place-items: center;
    text-align: center;
    margin: auto;

}
.video-youtube {
    width: 100%;
    height: 31.5rem;
    margin-bottom: 2.5rem;
}


.section-2 {
    position: relative;
    padding: 4rem 0;

    
}
.container-2 {
    display: flex;
    max-width: 80rem;
    margin: auto;
    height: 51rem;
    

}


.img-do-doutor {
    display: block;
    width: 35rem;
    object-fit: cover;
    position: absolute;

    right: 15rem;
    bottom: 0rem;

}

.container-2-txt {
    width: 100%;


}

.container-2-txt div:first-child {
    max-width: 60rem;
    margin: auto;
    display: grid;
    place-items: center;
    margin-bottom: 2.5rem;
    gap: 0.5rem;
}
.container-2-txt div:first-child span {
    font-size: 1.8rem;
    color: red;
}
.container-2-txt div:nth-child(2){
   
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container-2-txt div:nth-child(2) p{
    color: var(--cor-2);
    font-size: 1.7rem;
    max-width: 51rem;
}

.txt-span-sec-2 {
    font-weight: 700;

}
.title-sec-2 {
    font-size: 4rem;
    text-align: center;
    color: var(--cor-2);
}

.section-3 {
    min-height: 60rem;
    background-color: var(--cor-3);
}