@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_Lt.ttf);
    font-weight: 100;
}
@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_Rg.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_Bd.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Effra Bold";
    src: url(./asset/fonts/Effra_Std_He.ttf);
    font-weight: 700;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --cor-1: #FF594E;
    --cor-2: #484B57;
    --cor-3: #3B4157;
    --cor-4: white;
    --cor-5: #F5F5F5;

    font-size: 62.5%;
}

body *{
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto Slab', serif;*/
}
ul {
    list-style: none;
}
body {
    font-size: 1.6rem;
    max-width: 120rem;
    margin: auto;
 
}


nav {  

    height: 4rem;
    display: flex;
    align-items: center;
 
}
.title-sec-1 {
    font-size: 4rem;
    color: var(--cor-2);
    margin-bottom: 1rem;
}


.paragrafo-sec-1 {
    background: #1fab36;
    color: white;
    font-family: "Roboto Slab";
    font-weight: 200;
    padding: 0 0.5rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.logo-doutor {
    display: block;
    margin: auto;
    height: 2rem;
    width: 100%;
}

.section-1 {
    padding: 4rem 0;
    background: url("./asset/background-desktop.png") no-repeat;
    background-size: cover;
    background-position: center center;

}
.container-1 {
    max-width: 60rem;
    display: grid;
    place-items: center;
    text-align: center;
    margin: auto;

}
.video-youtube {
    width: 100%;
    height: 31.5rem;
    margin-bottom: 2.5rem;
}


.section-2 {
    position: relative;
    max-width: 82rem;
    margin: auto;
    padding: 4rem 0;

    
}

.img-do-doutor {
    display: block;
    width: 34rem;
    object-fit: cover;
    position: absolute;
    right: 0rem;
    bottom: 0rem;

}



.container-2 div:first-child {
    max-width: 60rem;
    margin: auto;
    display: grid;
    place-items: center;
    margin-bottom: 2.5rem;
    gap: 0.5rem;
}
.container-2 div:first-child span {
    font-size: 1.8rem;
    color: red;
}
.container-2 div:nth-child(2){
    margin-bottom: 10rem;
    grid-template-columns: 2fr 1fr;
    display: grid;
    align-items: center;

}
.container-2 div:nth-child(2) p{
    color: var(--cor-2);
    font-size: 1.7rem;
    max-width: 51rem;
}

.txt-span-sec-2 {
    font-weight: 700;

}
.title-sec-2 {
    font-size: 4rem;
    text-align: center;
    color: var(--cor-2);
}

.section-3 {
    background-color: var(--cor-3);
    padding: 4rem 0;
}

#btn-confirm {
    appearance: none;
    border: 3px solid #fffd00;
    height: 2rem;
    width: 2.5rem;
    box-shadow: 0.1rem 0.1rem 0.4rem 0px #000000d1;
    cursor: pointer;

}
#btn-confirm:checked {
  
    background: url(./asset/check-icon-green.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    
}
.caixa-checkbox {
    background: #e5e7e7;
    display: flex;
    padding: 2rem;
    text-align: center;

}

.caixa-oferta {
    text-align: center;
}
.title-oferta {
    background: url(./asset/mark.svg) no-repeat;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-align: center;
    background-position: center center;
    margin-top: 2rem;
  
}
.title-oferta-2 {
    font-size: 4rem;
    color: white;
}
.lista-assinatura {
    margin: 1.5rem auto;
}
.lista-assinatura li{
position: relative;
padding: 1rem 1rem 1rem 4rem;
text-align: start;

}
.lista-assinatura li::before{
    position: absolute;
    padding: 1rem;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    height: 2rem;
    width: 2rem;
    background: url(./asset/check-icon.png) no-repeat;
    background-position: center center;
}
.caixa-pacote {
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.caixa-pacote > div{
    max-width: 40rem;
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    transition: transform 0.3s linear;
    text-align: center;
    

}
.caixa-pacote > div h1 {
    background: #606160;
    border-radius: 1rem;
    text-align: center;
    padding: 1.5rem 5rem;
    text-transform: uppercase;
    color: white;
}

.caixa-pacote > div:hover{
    transform: scale(1.15);
}
.caixa-assine {
    font-family: "Effra Bold";
    font-weight: 300;
    color: #625f5c;
}
.lista-caixas {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin: 2.5rem auto;
}
.lista-caixas li {
    color: #a6a7a7;
    background: #e6e7e7;
    border-radius: 0.5rem;
    min-width: 10rem;
    padding: 1.5rem 2rem 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.3s;
    cursor: pointer;
}
.lista-caixas li:hover {
    background: #1fab36;
    color: white;
}
.lista-caixas li span {
    font-size: 4rem;
    font-weight: 500;
   
}
.caixa-de-precos {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    font-size: 1.8rem;
}

.caixa-de-precos p {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
    color: #484b57
}

.caixa-de-precos p span {
    font-weight: 300;
    color: #1fab36;
    font-size: 1.6rem;
}
.btn-comprar {
    background: var(--cor-1);
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    padding: 1rem 5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    transition: all 0.3s;
}
.btn-comprar:hover {
    padding: 1rem 6rem;
    filter: brightness(1.2);
}